@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
 
}
a {
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #7c4ee4;
  border-radius: 10px;
}
